* {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  font-family: sans-serif;
  background-color: #0d0f34;
}
.inputField {
  padding-top: 0;
}
.underlined {
  text-decoration: underline;
}

.values {
  font-weight: 500;
}

.logo {
  max-height: 45px;
  max-width: 80px;
}

.tradingView {
  height: 500px;
}

.Mui-disabled {
  color: white;
}
